/*high level container stuff*/
body{
	overflow:hidden;
}

#div_dev_warning_top
,#div_dev_warning_bottom{
	
	position:fixed;
	left:0;
	right:0;
	height:1rem;
	text-align:center;
	padding:0.1rem;
	font-size:0.6rem;
	font-weight:bold;
}

#div_dev_warning_top{top:0;}
#div_dev_warning_bottom{bottom:0;}

#page_masthead{
	
	position:fixed;
	top:1rem;
	left:0;
	right:0;
	height:3rem;
	border-bottom:solid 0.1rem rgb(141,146,155);
	
}

#page_masthead h1{
	
	display:block;
	font-size:1.5rem;
	margin:0;
	padding:0.7rem;
	height:100%;
	width:85%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

#a_page_control{
	
	display:block;
	position:absolute;
	width:2.4rem;
	height:2.4rem;
	overflow:hidden;
	top:0.3rem;
	right:0.3rem;
	border:solid 0.1rem blue;
}
	
#page_control,#work_area{
	
	position:fixed;
	top:4rem;
	left:0;
	right:0;
	bottom:1rem;
	overflow:hidden;
	overflow-y:auto;

}

#page_control{display:none;}
body.show_page_control #work_area{
	overflow-y:hidden;
}
body.show_page_control #page_control{
	display:block;
	z-index:99;
}

@media (min-width: 768px) {
	
	#page_masthead{
		
		height:4rem;
		
	}
	
	#page_masthead h1{
		font-size:1.5rem;
		padding:0.25rem;
		width:100%;
	}
	
	
	#a_page_control{
		
		display:inline;
		width:auto;
		height:auto;
		font-size:0.75rem;
		top:unset;
		right:unset;
		bottom:0.5rem;
		left:0.5rem;
	}
	
	#page_control,#work_area{
		top:5rem;
		bottom:1rem;
	}
	
	body.use_page_control #page_control{
		right:unset;
		width:2rem;
	}
	body.use_page_control #page_control *{display:none;}
	body.use_page_control #work_area {left:2rem;}
	
	
	body.use_page_control.show_page_control #page_control{width:33%;}
	body.use_page_control.show_page_control #page_control *{display:initial;}
	body.use_page_control.show_page_control #work_area{
		left:33%;
		width:67%;
		overflow-y:auto;
	}
}





/*=========================================================================================*/
.h2_contentTitle{display:none;}

.ul_tile_list{
	padding:0em;
	margin:0em;
	text-align:left;
}

.ul_tile_list li{
	list-style-type:none;
}

.ul_tile_list > *{
	
	display:inline-block;
	width:0rem;
	height:0rem;
	padding:0rem;
	padding-bottom:0rem;
	margin:0rem;
	border:solid rgb(41,46,55) 0.1rem;
	box-style:border-box;
	overflow:hidden;
}

#work_area > .ul_tile_list > *{
	
	width:95%;
	padding-bottom:95%;
	margin:2%;
	
}


